.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    opacity: 90%;
    border-radius: 10px;
    padding: 10px;
    .usernameInput {
        margin-bottom: 10px;
    }
    > button {
        margin-top: 10px;
    }
}