.SelectJob {
    display: flex;
    justify-content: center;
    align-items: center;

    .JobAvailable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        .Selection {
            > select {
                min-width: 50px;
            }
        }
        .ErrorMessageSelectJob {
            margin: 0px;
            color: #D8000C;
            background-color: #FFD2D2;
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
        }
    }
}